sudo: required
dist: trusty

os: linux

language: c

compiler:
  - gcc
  - clang

addons:
  apt:
    packages:
    - libpcap-dev

cache:
  apt: true

script:
  - autoreconf -iv > build.log 2>&1 || (cat build.log && exit 1)
  - ./configure > build.log 2>&1 || (cat build.log && exit 1)
  - make > build.log 2>&1 || (cat build.log && exit 1)
  - sudo make test
