body {
  background-color: #fff;
  font-family: verdana,arial,sans-serif;
  font-size: 9pt;
  padding: 0px;
  margin: 0px;
}

td.title {
  background : #003399;
  color: white;
  font-size: 14px;
}

td.menubar {
  background-color: #ccc;
}

td.section {
  background : #eeeeee;
}

td {
  font-family: verdana,arial,sans-serif;
  font-size: 9pt;
}

th {
  font-family: verdana,arial,sans-serif;
  font-size: 9pt;
}

a:link { color: #12127D; text-decoration: none; }
a:visited { color: #12127D; text-decoration: none; }
a:hover { color: #12127D; text-decoration: underline; }

a.header:link, a.header:visited, a.header:hover { 
  color: #12127D; 
  text-decoration: none; 
  font-size: 8pt;
  font-family: verdana, arial, helvetica, geneva, sans-serif;
}

a.menu:link { color: #fff; text-decoration: none; font-size: 7pt; }
a.menu:visited { color: #fff; text-decoration: none; font-size: 7pt; }
a.menu:hover { color: #FFE680; text-decoration: underline; font-size: 7pt; }

hr {
  height: 1px;
  background-color: #75a;
  clear: both;
}

h2 {
  font-family: verdana,arial,sans-serif;
  font-size: 14pt;
}

h1 {
  font-family: verdana,arial,sans-serif;
  font-size: 16pt;
}

input.button {
  border: 1px #999 solid; 
  background-color: #FFCC00; 
  font-size: 9pt;
}

input.text0 {
  border: 1px #999 solid; 
  background-color: #F5F5FF; 
  margin-left: 0px;
  font-size: 9pt;
}

input.text {
  border: 1px #999 solid; 
  background-color: #F5F5FF; 
  margin-left: 10px;
  font-size: 9pt;
}

input.file {
  border: 1px #333333 solid; 
  background-color: #F5F5FF; 
  margin-left: 10px;
  font-size: 9pt;
}

input.radio {
  margin-left: 10px;
}

textarea {
  border: 1px #333333 solid;
  background-color: #F5F5FF;
  margin-left: 10px;
  font-size: 9pt;
}

.select0 {
  outline-style: solid;
  background-color: #F5F5FF;
  margin-left: 0px;
  font-size: 9pt;
}

.select {
  outline-style: solid;
  background-color: #F5F5FF;
  margin-left: 10px;
  font-size: 9pt;
}

.span {
  margin-left: 10px;
}

.checkbox {
  border: 1px #333333 solid;
  background-color: #ffe;
  margin-left: 10px;
}

.checkbox0 {
  border: 1px #333333 solid;
  background-color: #ffe;
  margin-left: 0px;
}

.hidden { display: none; }

table.fill_grey {
  background-color: #ccc;
  padding-left: 0px;
  border-style: solid;
  border-color: black;
}

table.fill {
  background-color: #FFFAF0;
  padding-left: 0px;
  border-style: solid;
  border-color: black;
}

td.sechdr {
  background-color: #333;
  color: #BBBBBB;
  font-size: 10pt;
  padding-left: 10px;
}

td.entry {
  background-color: #039;
  color: white;
  font-size: 12pt;
  font-weight: bold;
  border: 1px;
  border-style: solid;
  border-color: black;
}

td.hdr_grey {
  background-color: #333;
  color: white;
  font-size: 12pt;
  font-weight: bold;
  border: 1px;
  border-style: solid;
  border-color: black;
}

td.falsepositive {
  background-color: #660066;
  color: white;
  font-size: 12pt;
  font-weight: bold;
  border: 1px;
  border-style: solid;
  border-color: black;
}

td.pattern {
  background-color: #060;
  color: white;
  font-size: 12pt;
  font-weight: bold;
  border: 1px;
  border-style: solid;
  border-color: black;
}

td.attachment {
  background-color: #900;
  color: white;
  font-size: 12pt;
  font-weight: bold;
  border: 1px;
  border-style: solid;
  border-color: black;
}

td.reference {
  background-color: #609;
  color: white;
  font-size: 12pt;
  font-weight: bold;
  border: 1px;
  border-style: solid;
  border-color: black;
}

td.findtype {
  width: 100;
  padding-left: 10px;
  nowrap: 1;
}

td.findvalue {
  align: left;
  padding-right: 10px;
}

span.tsdate {
  font-family: arial,helvetica,sans-serif;
  font-size: 10pt;
}

span.tsheadline {
  font-family: arial,helvetica,sans-serif;
  font-size: 10pt;
  font-weight: bold;
}

span.tssummary {
  font-family: arial,helvetica,sans-serif;
  font-size: 9pt;
}

div.left {
  width : 49%;
  float: left;
}

div.right {
  width : 49%;
  float: right;
  margin-left: 10px;
}

.center {
  text-align: center;
}

.hide {
  visibility: hidden;
  display: none;
}

.space {
  margin-top: 10px;
}

.space_left {
  padding-left: 15px;
}

.space_top {
  padding-top: 10px;
}

.space_bottom {
  padding-bottom: 10px;
}

.height_null {
  height: 0px;
}

/* for sigtests */
.ok, a.ok:link, a.ok:visited, a.ok:hover {
  color: green;
}

.failed, a.failed:link, a.failed:visited, a.failed:hover {
  color: red;
}

.failure, a.failure:link, a.failure:visited, a.failure:hover {
  color: orange;
}

.warn, a.warn:link, a.warn:visited, a.warn:hover {
  font-weight: bold;
  color: red;
}

ul.inline li {
  display: inline;
  padding-left: 5px;
  padding-right: 5px;
}

table.test {
  border-width: thin;
  border-style: solid;
  border-color: back;
}

.test td,th {
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  border-width: thin;
  border-style: solid;
  border-color: back;
}

td.attachname {
  background-color: #FFFAF0;
  font-size: 8pt;
  font-weight: bold;
  border-style: solid;
  border-width: 0px;
  border-bottom-width: 1px;
  border-right-width: 1px;
}

td.attachdata {
  background-color: #FFFAF0;
  font-size: 8pt;
  border-style: solid;
  border-width: 0px;
  border-bottom-width: 1px;
}

th.fplog {
  font-size: 8pt;
}

td.fplog {
  font-size: 8pt;
}

.even {
  background-color: #fff;
  padding-left: 10px;
}

.odd {
  background-color: #e6f1f7;
  padding-left: 10px;
}

span.small {
  font-size: 8pt;
}

th.dirlist {
  background-color: #FFE680;
}

table.report {
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

.report1 {
  background-color: #FFE680;
  font-size: 10pt;
  font-weight: bold;
  border-style: solid;
  border-color: black;
  border-width: 0px;
  border-right-width: 1px;
  border-bottom-width: 1px;
}

.report2 {
  background-color: #FFF2BF;
  font-size: 8pt;
  font-weight: bold;
  border-style: solid;
  border-color: black;
  border-width: 0px;
  border-right-width: 1px;
  border-bottom-width: 1px;
}

.report3 {
  background-color: #D9D4C3;
  font-size: 9pt;
  font-weight: bold;
  border-style: solid;
  border-color: black;
  border-width: 0px;
  border-right-width: 1px;
  padding: 3px;
}

td.reportnorm {
  background-color: #FFFFFF;
  font-size: 9pt;
  border-style: solid;
  border-color: #D9D4C3;
  border-width: 1px;
  border-left-width: 0px;
  border-bottom-width: 0px;
}

td.reporthi {
  background-color: #FFE680;
  font-size: 9pt;
  font-weight: bold;
  border-style: solid;
  border-color: #D9D4C3;
  border-width: 1px;
  border-left-width: 0px;
  border-bottom-width: 0px;
}

td.alert {
  color: red;
  font-size: 12pt;
  text-align: center;
}

td.menu_header {
  font-size: 8pt;
}

td.menu_header2 {
  font-size: 8pt;
  background-color: #C7E6F6;
}

td.menu_header_large {
  font-size: 9pt;
}

table.no_display {
  background-color: #e6f1f7;
  border-style: solid;
  border-width: 1px;
  border-left-color: #EEF5F8;
  border-top-color: #EEF5F8;
  border-bottom-color: #CADEE8;
  border-right-color: #CADEE8;
  padding: 2px;
}

div.body {
  padding: 5px;
  margin-top: 10px;
}

div.tsdata {
  font-size: 8pt;
  margin-left: 20px;
  margin-bottom: 8px;
  width: 70%;
}

div.tsindata {
  font-size: 8pt;
  margin-bottom: 5px;
  margin-left: 40px;
}
span.tsheader {
  font-weight: bold;
  font-size: 9pt;
}

th.versionlist {
  background-color: #FFE680;
  font-size: 8pt;
}
